.couleurmodal{
	background-color: #9CBFE6;
}

.combobox{
	min-height: 25px !important;
	
}

.margin-right-0{
	
	margin-right: 0% !important;
}


.boutonAnnuler{
	
	color: white !important;
	background-color: #C74159 !important;
	border-color: #C74159 !important;
}


.boutonValider{
	
	background-color: #24A866 !important;
	border-color: #24A866 !important;
}

.nobreak {
  white-space: nowrap;
}

.padding-right{
	
	padding-right:30px !important;
}


.boutonUser {
/* 	background-color: blue !important; */
/*     background-repeat:no-repeat; */
/*     border: none; */
/*     cursor:pointer; */
/*     overflow: hidden; */
/*     outline:none; */

/* 	background-image: url(#{resource['images:user-icon.png']});  */
/* color:white; */
/* width: 300px !important; */
/* height: 50px !important; */
/* font-size: 20px !important; */
}


/* .ui-icon.fa { */
/* color:blue; */
/* width: 50px !important; */

/* } */