.bar
{
margin-left:20px;
margin-top:5px;
font-size : 10px;
width : 15em;
height : 1em;
border-radius : 0.5em;
background : #f2f2f2;
box-shadow : 0 0 0 1px rgba(0, 0, 0, 0.3) inset;
}
.bar .percentage
{
position : relative;
font-size : 1em;
height : 1em;
border-radius : 0.5em;
}
.has-tip:before, .has-tip:after
{
content : "";
position : absolute;
opacity : 1;
}
.has-tip:before
{
bottom : -10px;
right : -5px;
border : solid 5px;
    border-color: transparent transparent #696969 transparent;
transition : opacity 0.1s;
}
.has-tip:after
{
content : attr(data-perc);
bottom : -10px;
right : 0;
white-space : nowrap;
padding : 0.6em 1em;
border-radius : 2em;
line-height : 1;
color : #fff;
background : inherit;
transform : translateX(50%) translateY(100%);
transition : transform 0.2s, opacity 0.1s;
}
.has-tip:hover:before, .has-tip.active:before
{
opacity : 1;
}
.has-tip:hover:after, .has-tip.active:after
{
opacity : 1;
transform : translateX(50%) translateY(100%) translateY(0px);
}
.arrondie
{
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
}


  .ui-widget-header
           {
           	background: #F2E9D5;
           	
           } 

.ui-corner-all
{
	
	max-width: 400px;
}


